* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
    width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;

}

.btn-primary {
  border:1px solid  #2563EB;
  border-radius: 5px; 
  color: #2563EB;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}